# Python Sets

Python sets are unordered collections of unique elements. Unlike lists or tuples, sets do not allow duplicate values, and they are unordered, meaning the items do not have a specific position or index.

## Key Features of Python Sets:
- Unique Elements: Sets automatically remove duplicate values.
- Unordered: The elements have no defined order and cannot be accessed by an index.
- Mutable: You can add or remove items after a set is created, but the elements themselves must be immutable (e.g., strings, numbers, or tuples).


# Creating a Set:
Sets can be created using curly braces {} or the set() function.

In [2]:
# Using curly braces
my_set = {1, 2, 3, 4}

# Using the set() function
another_set = set([1, 2, 3, 4, 2])

## For Example

In [3]:
myset = {"cherry", "box", "umbrella"} 
print(myset)

{'cherry', 'umbrella', 'box'}

# Duplicate items

In [5]:
colors = {'red','green','yellow','orange','violet','green','orange','black','yellow','black','blue'}
print(colors)

{'black', 'violet', 'green', 'yellow', 'blue', 'red', 'orange'}

# Converting a list to set

You can convert a list to a set in Python using the set() function. This will automatically remove any duplicate values from the list, since sets only store unique elements.

In [8]:
num = set([10,20,30,40,50])
set(num)

{10, 20, 30, 40, 50}

In [9]:
fruits_list = ["apple", "banana", "apple", "orange", "banana"]
fruits_set = set(fruits_list)
print(fruits_set)

{'orange', 'apple', 'banana'}

In [11]:
mixed_list = [1, "hello", 1, 2.5, "hello", 2.5]
mixed_set = set(mixed_list)
print(mixed_set)

{1, 2.5, 'hello'}

In [13]:
tuple_list = [(1, 2), (3, 4), (1, 2), (5, 6)]
tuple_set = set(tuple_list)
print(tuple_set)

{(1, 2), (3, 4), (5, 6)}

 # Add items

 You can add items to a set using the add() method in Python.






 
 Here's how to add items to the sets from the previous examples:

In [14]:
fruits_set = {'orange', 'banana', 'apple'}
fruits_set.add("grape")
print(fruits_set)

{'grape', 'apple', 'banana', 'orange'}

In [15]:
mixed_set = {1, 2.5, 'hello'}
mixed_set.add(3)
print(mixed_set)

{1, 2.5, 3, 'hello'}

In [16]:
tuple_set = {(1, 2), (3, 4), (5, 6)}
tuple_set.add((7, 8))
print(tuple_set)

{(1, 2), (7, 8), (3, 4), (5, 6)}

# Update sets
- You can update a set with multiple items using the update() method. This method adds elements from an iterable (such as a list, tuple, or another set) to the set. 

- If the items already exist in the set, they are ignored.

In [17]:
fruits_set = {'orange', 'banana', 'apple'}
new_fruits = ['grape', 'mango', 'apple']
fruits_set.update(new_fruits)
print(fruits_set)

{'orange', 'grape', 'mango', 'apple', 'banana'}

In [18]:
number_set = {10, 20, 30}
additional_numbers = (40, 50, 20)
number_set.update(additional_numbers)
print(number_set)

{40, 10, 50, 20, 30}

In [21]:
tuple_set = {(1, 2), (3, 4)}
additional_tuples = {(5, 6), (1, 2)}
tuple_set.update(additional_tuples)
print(tuple_set)

{(1, 2), (3, 4), (5, 6)}

# Remove a set element
- To remove an element from a set, you can use the remove() or discard() methods. 
- Both methods serve similar purposes but have different behaviors when the element to be removed is not present in the set.

In [22]:

my_set = {1, 2, 3, 4}
my_set.discard(2)
print(my_set)

{1, 3, 4}

In [23]:

myset = {"orange", "green", "red","yellow"}
myset.remove("red")
print(myset)

{'yellow', 'green', 'orange'}

# Set operations


- Python sets support various operations that are useful for mathematical set theory and data manipulation.

-   Here are some common set operations:

# 1. Union
-  Combines elements from two sets, excluding duplicates.
- Method: union() or the | operato

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)  # or set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
a = {41, 12, 43, 19}
b = {35, 43, 57, 19}

print("a|b :", a|b)

union_set = a.union(b)
print("a.union(b):",union_set)

a|b : {35, 41, 43, 12, 19, 57}
a.union(b): {35, 41, 43, 12, 19, 57}

# 2. Intersection
- Finds common elements between two sets.
- Method: intersection() or the & operator

In [26]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)  # or set1 & set2
print(intersection_set)

{2, 3}

In [27]:
a = {91, 22, 43, 60}
b = {35, 43, 57, 60}

print("a.intersection(b):", a.intersection(b) )

print("a & b:",a & b)

a.intersection(b): {43, 60}
a & b: {43, 60}

# 3. Difference
- Finds elements in the first set that are not in the second set.
- Method: difference() or the - operator

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
difference_set = set1.difference(set2)  # or set1 - set2
print(difference_set)

{1}

In [29]:

a = {91, 22, 43, 30}
b = {35, 43, 57, 30}

print("a.difference(b):", a.difference(b) )

print("a - b:",a - b)

a.difference(b): {91, 22}
a - b: {91, 22}

# 4. Symmetric Difference:

- Finds elements in either of the sets but not in both.
- Method: symmetric_difference() or the ^ operator

In [30]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
symmetric_difference_set = set1.symmetric_difference(set2)  # or set1 ^ set2
print(symmetric_difference_set)

{1, 4}

In [31]:
a = {0, 22, 43, 60}
b = {1, 43, 57, 60}

print("a.symmetric_difference(b):", a.symmetric_difference(b) )

print("a ^ b:",a ^ b)

a.symmetric_difference(b): {0, 1, 22, 57}
a ^ b: {0, 1, 22, 57}

# 5. Subset
- Checks if all elements of one set are in another set.
- Method: issubset()

In [32]:
set1 = {1, 2}
set2 = {1, 2, 3}
is_subset = set1.issubset(set2)
print(is_subset)

True

# 6. Superset
- Checks if all elements of another set are in the current set.
- Method: issuperset()

In [33]:
set1 = {1, 2, 3}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)

True

# 7. Disjoint Sets
- Checks if two sets have no elements in common.
- Method: isdisjoint()

In [34]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

True